# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
**/.kotlin/

# Project exclude paths
**/out/**
**/src/main/resources/*
/.idea/
**/src/main/resources/
